@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.login-page {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6),rgba(0,0,0,0.445)),url(../image/filmflix.jpg);
  background-position: top;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width:740px) {
  .login-page {
    background: #000;
  }
}


.Logo{
  width: 165px;
  position: relative;
  top: 25px;
  left: 30px;
  z-index: 100;
}
@media (max-width:740px) {
  .Logo {
      width: 180px;
  }
}

.Signin {
  background-color: #000000b4;
  border-radius: 5px;
  color: #fff;
  margin: 40px auto 100px;
  padding: 70px 60px 150px;
  width: 450px;
}
@media (max-width:740px) {
  .Signin {
    background: transparent;
    margin: 0;
    width: 100%;
    padding: 70px 40px 90px;
    border-bottom: 1px solid gray;
  }
}

.Signin h2 {
  margin: 0 0 25px;
  font-size: 30px;
}
.Signin input {
  display: block;
  color: #fff;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
}
.Signin input[type="text"],
.Signin input[type="password"] {
  background-color: #353535;
  font-size: 15px;
  outline: none;
  margin-bottom: 20px;
  padding: 0 20px;
}

.Signin input[type="text"]::-webkit-input-placeholder,
.Signin input[type="password"]::-webkit-input-placeholder {
  color: #949494;
  font-size: 16px;
}

.Signin input[type="submit"] {
  background-color: red;
  font-size: 16px;
  margin-top: 40px;
  cursor: pointer;
}
.Signin .help {
  color: #949494;
  margin-top: 12px;
  padding: 0;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}
.Signin .help .check {
  display: flex;
  align-items: center;
}
.check input {
  width: 20px;
  height: 20px;
}
.check label {
  margin-left: 5px;
  width: 100%;
}
.help .need a {
  text-decoration: none;
  color: #949494;
}
.help .need a:hover{
  text-decoration: underline;
}
.footer-signin {
  margin-top: 30px;
}
.footer-signin .login {
  text-decoration: none;
  color: #727272;
  font-size: 13px;
}
.login .facebook {
  width: 20px;
  vertical-align: middle;
  margin-right: 10px;
}
.footer-signin .new {
  margin-top: 12px;
  font-size: 17px;
  color: #727272;
  font-weight: lighter;
}
.footer-signin .new a {
  color: #fff;
  text-decoration: none;
  margin-left: 5px;
}
.footer-signin .new a:hover {
  text-decoration: underline;
}
.footer-signin .protect {
  margin-top: 12px;
  font-size: 13px;
  color: #9b9b9b;
}
.footer-signin .protect a {
  text-decoration: none;
  color: #5656ff;
}
.footer {
  padding: 25px 40px 50px;
  background-color: #000000b4;
  margin: auto;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-info {
  max-width: 1000px;
  margin: auto;
}
.footer-info p {
  color: gray;
}
.footer-info p a {
  color: inherit;
  text-decoration: none;
}
.footer-links {
  margin: 20px 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.footer-links-item {
  width: 250px;
  min-width: 200px;
}
.footer-links-item a{
  color: gray;
  font-size: 13px;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer-info select {
  background-color: #000;
  border:1px solid rgba(128,128,128,.466);
  color: gray;
  outline: none;
  padding: 13px;
}